.logo {
    text-align: center;
    margin-top: 15%;
}
.searchbox {
    text-align: center;
}
.box {
    border-radius: 50px;
    height: 25px;
    margin-top: 25px;
    width: 550px;
    border-radius: 50px;
    border: 1px solid rgb(220,220,220);
    padding: 10px;
}
.box:hover {
    border: 1px solid rgb(255,255,255);
    box-shadow: 0px 1px 8px 0px rgb(200,200,200)
}
.buttons {
    text-align: center;
    margin-top: 10px;
}
.button {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100,100,100);
    font-size: 15px;
    background-color: rgb(244,244,244);
    margin: 30px 5px;
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 5px;
}
.button:hover {
    cursor: pointer;
    color: black;
    border: solid 1px rgb(200,200,200);
}