ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}
li {
    display: inline;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;    
}
.topbar1, .topbar2 {
    color: rgba(0,0,0,0.87);
    margin-right: 10px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.icon2 {
    margin-right: 2%;
}
.logo {
    text-align: center;
    margin-top: 10%;
}
.searchbox {
    text-align: center;
}
.box {
    border-radius: 50px;
    height: 25px;
    margin-top: 25px;
    width: 550px;
    border-radius: 50px;
    border: 1px solid rgb(220,220,220);
    padding: 10px;
}
.box:hover {
    border: 1px solid rgb(255,255,255);
    box-shadow: 0px 1px 8px 0px rgb(200,200,200)
}
.buttons {
    text-align: center;
    margin-top: 10px;
}
.button {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100,100,100);
    font-size: 15px;
    background-color: rgb(244,244,244);
    margin: 30px 5px;
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 5px;
}
.button:hover {
    cursor: pointer;
    color: black;
    border: solid 1px rgb(200,200,200);
}
.underbuttons {
    text-align: center;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
.bottombar {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: left;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;    
}
.botbar {
    color: #5f6368;
    margin-left: 25px;
}
.botbar2 {
    float: right;
    margin-right: 30px;
    color: #5f6368;
}